<h1>Conclusion</h1>
<h3>Rate your experience with the frameworks that you chose</h3>
<ul>
  <li>Angular - 8/10</li>
  <li>ExpressJs - 10/10</li>
</ul>
<h3>Did they perform to your expectations?</h3>
<ul>
  <li>Angular - Yes, I have quite a lot of experience with AngularJs and I knew that Angular would be very different from AngularJs but it was still impressive how nicely everything is organized with Angular</li>
  <li>ExpressJs - I had no idea what I was getting myself into with ExpressJs as I've never used it before but it's simplicity made it very nice to work with</li>
</ul>
<h3>Were they difficult to install or configure?</h3>
<ul>
  <li>Installation for both frameworks was straight forward, configuration on the other hand is another story. To get everything working together on Heroku took quite a bit of Googling and trail and error.</li>
</ul>
<h3>Was it easy to create the page(s) with it?</h3>
<ul>
  <li>Yes, creating pages with Angular is very easy as it allows you to split everything up into components.</li>
</ul>
<h3>Was the learning curve steep compared with regular HTML/CSS/Javascript/PHP?</h3>
<ul>
  <li>No, Angular and ExpressJs allow for inclredibly easy development compared to basic web design with no frameworks. The only difficult part was learning typescript and how to conenct services and components and other dependencies together in Angular</li>
</ul>
<h3> Would you have done things differently in retrospect?</h3>
<ul>
  <li>No, learning typescript is necessary for Angular development so at the end of the day, I don't regret having to learn it</li>
</ul>
<h3>Did you regret your choice of frameworks?</h3>
<ul>
  <li>No, Angular is one of the most popular frameworks currently in existence making it a very useful tool to have knowledge on</li>
</ul>

