<style>
code{
background-color:#f5f2f0;
}
</style>
<h1>How to install Angular (On windows)</h1>
<p>Step 1: Install NPM(Node Package Manager) from this <a href="https://nodejs.org/en/">link</a></p>
<p>Step 2: Install angular-cli using NPM with this command: <code>npm install -g angular-cli</code></p>
<p>Step 3: Create a new project with the command: <code>ng new PROJECT_NAME</code> where PROJECT_NAME is the name of your project</p>
<p>Step 4: Use <code>ng build</code> to compile and build your project</p>
<p>Step 5: Use <code>ng serve</code> to run your project</p>
<h1>How to install ExpressJs</h1>
<p>Step 1: Install Express with this cmd:<code>npm install express  --save</code></p>
<p>Step 2: Create a <code style="background-color:#f5f2f0">server.js</code> file in the root path and copy paste the following code:</p>
<pre style="background-color:#f5f2f0; white-space: pre-wrap; margin-left:20px">{{code}}</pre>
<p>Step 3: Open <code>package.json</code> and replace the <code>start</code> command under "scripts" with <code>node server.js</code></p>
<p>Step 4: Open <code>angular.json</code> and replace the <code>outputPath</code> command under "build/options" with <code>angular-build</code></p>
<h1>How to deploy on heroku</h1>
<p>Step 1: Create a Github account</p>
<p>Step 2: Create a Heroku account</p>
<p>Step 3: Create a new repository on Github and push this project into it</p>
<p>Step 4: Create a new app in Heroku</p>
<p>Step 5: Set Github as the "Deployment method" and link the Github repository holding your project</p>
<p>Step 6: Enable automatic deployments</p>